---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-7">
    <h3 class="fw-bold">About</h3>
    {{ content }}

    <!-- {% include contact.html %} -->
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/me.jpg" alt="Home" width="42%">
  </div>
</div>

<!-- Here, we include a 2-column spread. On the left are updates for this term. On the right is contact info. -->
<div class="row g-5 mb-5">

  <!-- Updates for this term-->
  <div class="col-md-7">
    <p> This term, I am... </p>
    <ul class="list-unstyled">
      <li>This is a list.</li>
      <li>It appears completely unstyled.</li>
      <li>Structurally, it's still a list.</li>
      <li>However, this style only applies to immediate child elements.</li>
      <li>Nested lists:
        <ul>
          <li>are unaffected by this style</li>
          <li>will still show a bullet</li>
          <li>and have appropriate left margin</li>
        </ul>
      </li>
      <li>This may still come in handy in some situations.</li>
    </ul>

  </div>

  <!-- Contact info -->
  <div class="col-md-5">
    <h5 class = "fw-bold"> Contact Information</h5>
    <dl class="row">
     <dt class="col-sm-3">Email Address</dt>
     <dd class="col-sm-9">j47smith [at] uwaterloo [dot] ca</dd>
   
     <dt class="col-sm-3">Office</dt>
     <dd class="col-sm-9">DC 2306H</dd>

     <dt class="col-sm-3">Research Group(s)</dt>
     <dd class="col-sm-9">
       <p>
         <a href="https://algcomp.uwaterloo.ca/">Algorithms and Complexity Group</a>
       </p>
       <p>
         <a href="https://uwaterloo.ca/combinatorics-and-optimization/research-combinatorics-and-optimization/research-areas/algebraic-combinatorics">Enumerative and Algebraic Combinatorics</a>
       </p>
     </dd>
   
     <dt class="col-sm-3">Institution</dt>
     <dd class="col-sm-9">
       <p>
         <a href="https://cs.uwaterloo.ca/">University of Waterloo, Department of Computer Science</a>
       </p>
       <p>200 University Ave W </p>
       <p>Waterloo, Ontario, Canada N2L-3G1 </p>
     </dd>
   
   </dl>
  </div>
</div>

<!-- {% include contact.html %} -->
{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    FILL THIS IN NEXT.
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Blog Posts</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
