---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-7">
    <h3 class="fw-bold">About</h3>
    {{ content }}

    <!-- {% include contact.html %} -->
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/me.jpg" alt="Home" width="45%">
  </div>
</div>

<!-- Here, we include a 2-column spread. On the left are updates for this term. On the right is contact info. -->
<div class="row g-5 mb-5">

  <!-- Updates for this term-->
  <div class="col-md-7">
    <h5 class = "fw-bold"> Updates</h5>
    <p> This term, I... </p>
    <ul>
      <li>Am an instructional assistant for <a href="https://student.cs.uwaterloo.ca/~cs245/fall2025/index.html">CS 245, Logic for Computer Science</a>. </li>
      <li>Am attending the <a href="https://algcomp.uwaterloo.ca/events/"> Algorithms and Complexity Seminar</a> and reading group, as well as the <a href="https://combinatorics.chat">Enumerative and Algebraic Combinatorics Seminar</a>.</li>
      <li>Will present at the AARMS-CMS Student Poster Session at the <a href="https://winter25.cms.math.ca/">Canadian Math Society's winter meeting</a>.</li>
      <!-- <li>However, this style only applies to immediate child elements.</li>
      <li>This may still come in handy in some situations.</li> -->
    </ul>
    <!-- 
    <p> Last term, I... </p>
    <ul>
     <li> ADD STUFF </li>
    </ul> -->
  </div>

  <!-- Contact info -->
  <div class="col-md-5">
    <h5 class = "fw-bold"> Contact Information</h5>
    <dl class="row">
     <dt class="col-sm-3">Email Address</dt>
     <dd class="col-sm-9">j47smith [at] uwaterloo [dot] ca</dd>
   
     <dt class="col-sm-3">Office</dt>
     <dd class="col-sm-9">DC 2306H</dd>

     <dt class="col-sm-3">Research Group(s)</dt>
     <dd class="col-sm-9">
       <p>
         <a href="https://algcomp.uwaterloo.ca/">Algorithms and Complexity Group</a>
       </p>
       <p>
         <a href="https://uwaterloo.ca/combinatorics-and-optimization/research-combinatorics-and-optimization/research-areas/algebraic-combinatorics">Algebraic and Enumerative Combinatorics</a>
       </p>
     </dd>
   
     <dt class="col-sm-3">Institution</dt>
     <dd class="col-sm-9">
       <p>
         <a href="https://cs.uwaterloo.ca/">University of Waterloo, Cheriton School of Computer Science</a>
       </p>
       <p>200 University Ave W </p>
       <p>Waterloo, Ontario, Canada N2L-3G1 </p>
     </dd>
   
   </dl>
  </div>
</div>

<!-- {% include contact.html %} -->
{% include publications.html %}

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Blog Posts</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->
